body {
    background-color: #8E2426;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #F3E9E9;
    margin: auto 30px;
}

a:hover {
    color: #FF7A01;
    transition: 0.5s;
}

h1 {
    text-align: center;
    color: #FF7A01;
    font-size: 200px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-kerning: 1px;
    letter-spacing: -30px;
    font-weight: 100;
    text-shadow: #000000 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #F3E9E9;
    text-shadow: #000000 1px 0px 1px;
    
}